body{
    background-color: #d4d8f0;
}
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}
header{
    background-color: #010101;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: #fffffe;
    border: 4px solid #fffffe;
    padding: 6px 50px;
    display: inline-block;
    border-radius: 20px;
}
.banner{
    position: relative;
    background-color: #232946;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    color: #fffffe;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 30%;
}
.banner h1{
    font-size: 500%; 
    font-family: Cambria;
    text-shadow: 6px 6px #1c1c1f;
}
.banner span{
    font-size: 1.3em;
}
nav{
    background-color: #272343;
    padding: 15px;
    position: sticky;
    top: 86px;
    z-index: 1;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #2cb67d;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 30px;
    box-sizing: border-box;
}
h2{
    color: #232946;
    font-size: 40px;
    font-style: italic;
    /* text-align: center; */
}
h3{
    color: #72757e;
    text-shadow: 2px 2px #292938;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
}
article{
    border: 4px solid #7f5af0;
    padding: 20px 20px;
    border-radius: 20px;

}
.detail{
    position: relative;
}
.detail img{
    max-width: 220px;
    max-height: 352px;
}
.detail ul{
    position: absolute;
    left: 25%;
    top: 10%;
}
.detail li{
    font-size: x-large;
    list-style-type: none;
}
.detail span{
    font-weight: bold;
    font-style: italic;
}
.cross{
    text-decoration: line-through;
}
.para {
    font-size: x-large;
    color: #121629;
}
.para span{
    font-style: italic;
}
.chetan img{
    max-width: 300px;
}
.chetan ul{
    left: 30%;
}
.join{
    background-color: #232946;
    padding: 20px 30px;
}
.join h3{
    color: #eebbc3;
    text-shadow: 2px 2px #72757e;
}
.join{
    font-size: x-large;
    color: #b8c1ec;
    text-align: center;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    color: #232946;
    border-radius: 28px;
    border: 4px solid #fffffe;  
}
footer{
    background: #010101;
    color: #fffffe;
    padding: 10px;
    text-align: center;
}
/* Pseudo Code */
p::first-letter{
    font-weight: bold;
}
nav li a:hover{
    text-decoration: underline;
}
.detail img:hover{
    position: relative;
    top: -4px;
}
p::selection{
    background-color: #232946;
    color: #fffffe;
}

/* responsive styles */
@media screen  and (max-width: 1400px){
    .banner .welcome h1{
        font-size: 60px;
    }
}
@media screen  and (max-width: 1000px){
    .banner .welcome h1{
        font-size: 45px;
    }
    .detail ul{
        left: 30%;
        top: 10%;
    }
    p{
        font-size: large;
    }
    .detail li{
        font-size: large;
    }
    .detail img{
        max-width: 200px;
        max-height: 302px;
    }
    form input{
        margin: 10px 0;
        padding: 5px 10px;
        font-size: 16px;  
    }
    footer{
        padding: 5px;
    }
}
@media screen  and (max-width: 800px){
    .banner .welcome h1{
        font-size: 35px;
        text-shadow: 3px 3px #1c1c1f;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 24px;
        text-shadow: 1px 1px #292938;
    }
    .join h3{
        text-shadow: 1px 1px #72757e;
    }
    header{
        padding: 10px;
    }
    header h1{
        border: 2px solid #fffffe;
        padding: 3px 30px;
    }
    nav{
        padding: 10px;
        top: 66px;
    }
}
@media screen  and (max-width: 750px){
    .detail ul{
        left: 38%;
        top: 10%;
    }
    nav li{
        font-size: 16px;
    }
}
@media screen  and (max-width: 600px){
    .banner .welcome h1{
        font-size: 25px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 21px;
        text-shadow: 1px 1px #292938;
    }
    .join h3{
        color: #eebbc3;
        text-shadow: 1px 1px #72757e;
    }
    header{
        padding: 5px;
    }
    header h1{
        border: 2px solid #fffffe;
        padding: 3px 20px;
    }
    nav{
        padding: 5px;
        top: 43px;
    }
    article{
        border: 3px solid #7f5af0;
        padding: 10px 10px;
    
    }
    .detail ul{
        left: 30%;
        top: 10%;
    }
    p{
        font-size: medium;
    }
    .detail li{
        font-size: medium;
    }
    .detail img{
        max-width: 150px;
        max-height: 202px;
    }
    .author li{
        font-size: 14px;
    }
    .author ul{
        left: 40%;
        top: 5%;
    }
    form input{
        margin: 6px 0;
        padding: 2px 2px;
        font-size: 12px;  
    }
    footer{
        padding: 2px;
    }
}
@media screen  and (max-width: 500px){
    .banner .welcome{
        position: relative;
        text-align: center;
        padding: 5px;
        font-size: 25px;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    article{
        border: 3px solid #7f5af0;
        padding: 10px 10px;
    
    }
    .detail ul{
        left: 40%;
        top: 10%;
    }
    p{
        font-size: small;
    }
    .detail li{
        font-size: small;
    }
    .author ul{
        left: 45%;
        top: 5%;
    }
}
@media screen  and (max-width: 400px){
    .banner .welcome h1{
        font-size: 20px;
    }
    nav{
        padding: 5px;
        top: 43px;
    }
    nav li{
        font-size: 16px;
    }
    article{
        border: 3px solid #7f5af0;
        padding: 10px 10px;
    
    }
    .detail ul{
        left: 50%;
    }
    form input{
        padding: 1px 1px;
        font-size: 12px;  
    }
    footer{
        padding: 1px;
    }
}
@media screen  and (max-width: 400px){
    nav li{
        font-size: 10px;
    }
    p{
        font-size: x-small;
    }
    .detail li{
        font-size: x-small;
    }
    .detail ul{
        position: relative;
        left: 0;
    }
    .detail img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}